<div>

  <div *ngIf="auth">
      <h1>Buyer Profile / Name: {{buyer?.username}}</h1>
  </div>

  <div *ngIf="!auth && user">

		<h2>Buyer Details</h2>
		<span>The Id of this buyer is: <strong>{{ buyer?._id }}</strong></span>
		<button>
      <a [routerLink]="['/buyer/products']">My products list (favorite - cart)</a>
		</button>
    <button>
      <a [routerLink]="['/buyer/cart']">Cart</a>
    </button>
    <span class="username text"></span>
    <!-- <app-auth-logout></app-auth-logout> -->
    <button (click)="logout()">logout</button>
  </div>
</div>
<span>
  {{buyer?.username}}
</span>
<span>
  {{buyer?.email}}
</span>
<div *ngIf="!auth && user">

      <h2>Ecommerce</h2>
      <store-app [buyer]="buyer"></store-app>
      <cart-app [buyer]="buyer"></cart-app>
      <br>

      <h2>Companis</h2>
      <ul>
        <li *ngFor="let company of companies">
              name: {{ company.username }} <br>
              email: {{ company.email }} <br>
              organic: {{company.organic}}<br>
            
            <button>
                <a [routerLink]="['/company/company-profile', company._id]">View Details Company</a>
            </button>
        </li>
    </ul>
    
    <button (click)="displayForm()" *ngIf="showHide">Profile Settings</button>
    <div *ngIf="!showHide">

      <h2>Update Profile</h2>
      <form (ngSubmit)="handleUpdateBuyer(buyerForm)" #buyerForm="ngForm">
      <input type="text" name="photo" [(ngModel)]="fileName" id="none-input"/>
        <label>name</label>
          <input type="text" name="username" [(ngModel)]="username">
        <label>email</label>
          <input type="text" name="email" [(ngModel)]="email">
        
        <button type="submit">Add</button>
        {{message}}
      </form>
    </div>

</div>

<a [routerLink]="['']"> Back to list </a>
