<app-navbar></app-navbar>
<h1>Admin /</h1>
<h2>Buyer List</h2>
	<ul>
	    <li *ngFor="let buyer of dataListBuyer">
	      name: {{ buyer.name }} <br>
	      description: {{ buyer.description }} <br>
	      <a [routerLink]="['/buyer', buyer._id]">View Details Buyer</a>
	      <button type="submit">Delete</button>
	    </li>
	</ul>
<br>
<h2>Company List</h2>
<ul>
	<li *ngFor="let company of dataListCompany">
	    name: {{ company.name }} <br>
	    description: {{ company.description }} <br>
	    <a [routerLink]="['/company', company._id]">View Details Company</a>
	    <button type="submit">Delete</button>
	</li>
</ul>
