
<div *ngIf="auth">

</div>
<div *ngIf="!auth && user">
<h1>Company Profile / Name: {{company?.username}}</h1>
<h2>Company Details</h2>

<span>The Id of this company is: <strong>{{ company?._id }}</strong></span>

<button>
	<a [routerLink]="['/company/products']">My products company</a>
</button>




<button (click)="logout()">logout</button>
</div>
<div *ngIf="!auth && user">
<span>{{message}}</span>
<br>
<h3>Product List</h3>
<span *ngIf="products !== 0">N of your products: {{products?.length}}</span>
	<ul>
	    <li *ngFor="let product of products">
	      Product Name: {{ product.name }} <br>
	      Category: {{ product.category }} <br>
        Type: {{product.type}}<br>
        price: {{product.price}}<br>
        <div *ngIf="product.organic">
          <span >Organic: {{product.organic}}</span><br>
          <img src="https://ec.europa.eu/agriculture/organic/sites/orgfarming/files/img/body/organic_farming_logo.jpg" alt="" width="100px"><br>
        </div>
        UserId: {{product.userId}}
	      <div class="phone-thumbnail">
        	<img height="300" [src]="product.image" />
      	</div>
        <button> 
          <a [routerLink]="['/product/product-profile', product._id]">View Details Product</a>
        </button>   
	      <button type="submit" (click)="deleteProduct(product._id)">Delete</button>
	    </li>
	</ul>
<br>
<button (click)="displayUpdateProduct()" *ngIf="showHide">Create Product</button>
<br>
<div *ngIf="!showHide">
<h2>Create New Product</h2>
  <form style="width: 50%">
    <fieldset>
      <legend> Product Fields </legend>
      <label> Product Name </label>
      <input type="text" [(ngModel)]="newProduct.name" name="name" required />

      <label> Product Category </label>
       <select [(ngModel)]="newProduct.category" name="category" required>
          <option *ngFor="let category of categories" [value]="category.value">  
          {{category.display}}
          </option>
      </select>

      <label> Type </label>
      <select [(ngModel)]="newProduct.type" name="type" required>
          <option *ngFor="let type of types" [value]="type.value">  
          {{type.display}}
          </option>
      </select>
      <br>
      <label> Price </label>
      <input type="number" [(ngModel)]="newProduct.price" name="price" required />

      <label>Is Organic?</label>
          <input type="checkbox" name="organic" [(ngModel)]="newProduct.organic">
      <br>
      <label>Image</label>
          <input type="file" name="file" ng2FileSelect [uploader]="uploader" />

    </fieldset>
    <button type="submit" (click)="submitForm()"> submit </button>
  </form>
</div>

<button (click)="displayUpdateProfile()" *ngIf="showHideProfile">Update Profile</button>
<div *ngIf="!showHideProfile">
<h2>Update Profile</h2>
      <form (ngSubmit)="handleUpdateCompany(companyForm)" #companyForm="ngForm">
      <legend> Profile Fields </legend>
      <!-- <input type="text" name="photo" [(ngModel)]="fileName" id="none-input"/> -->
        <label>name</label>
          <input type="text" name="username" [(ngModel)]="username">
        <label>email</label>
          <input type="text" name="email" [(ngModel)]="email">
        <label>website</label>
          <input type="text" name="website" [(ngModel)]="website">  

        <label>Is Organic?</label>
          <input type="checkbox" name="organic" [(ngModel)]="organic">
              
      <!--  <label>Image</label>
          <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
          <p class="message" *ngIf="uploadRequired">Please select a file</p> -->
        <button type="submit">Update Profile</button>
        {{message}}
      </form>
  </div>
  </div>    
<a [routerLink]="['']"> Back to list </a>


