
<div *ngIf="auth">
<h1>Company Profile / Name: {{company?.username}}</h1>
</div>
<div *ngIf="!auth && user">
<h2>Company Details</h2>
<span>The Id of this company is: <strong>{{ company?._id }}</strong></span>

<button>
	<a [routerLink]="['/company/products']">My products company</a>
</button>


<h2>Create New Product</h2>
<br>
<form style="width: 50%">
  <fieldset>
    <legend> Product Fields </legend>
    <label> Product Name </label>
    <input type="text" [(ngModel)]="newProduct.name" name="name" required />

    <label> Product Category </label>
     <select [(ngModel)]="newProduct.category" name="category">
        <option *ngFor="let category of categories" [value]="category.value">  
        {{category.display}}
        </option>
    </select>

    <label> Type </label>
    <select [(ngModel)]="newProduct.type" name="type">
        <option *ngFor="let type of types" [value]="type.value">  
        {{type.display}}
        </option>
    </select>
 		<br>
 		<label>Image</label>
    <input type="file" name="file" ng2FileSelect [uploader]="uploader" />

  </fieldset>
  <button type="submit" (click)="submit()"> submit </button>
</form>

<button (click)="logout()">logout</button>
</div>
<div *ngIf="!auth && user">
<span>{{message}}</span>
<br>
<h3>Product List</h3>
	<ul>
	    <li *ngFor="let product of products">
	      Product Name: {{ product.name }} <br>
	      Category: {{ product.category }} <br>
	      Type: {{product.type}}<br>
        UserId: {{product.userId}}
	      <div class="phone-thumbnail">
        	<img height="300" [src]="product.image" />
      	</div>
        <button> 
          <a [routerLink]="['/product/product-profile', product._id]">View Details Product</a>
        </button>   
	      <button type="submit" (click)="deleteProduct(product._id)">Delete</button>
	    </li>
	</ul>
<br>
</div>
<a [routerLink]="['']"> Back to list </a>


