<div [ngClass]="'leftPanel'">
   <h3>Store</h3>
   <span>{{message}}</span>
	<div [ngClass]="'storeBox'" *ngFor="let item of storeItems" >
	  <div>
		<div >
		  <h4><a href="#">{{item?.name}}</a></h4>
		  <h4 >Price: {{item?.price}}</h4>
		  <p>Organic: {{item?.organic}}</p>
		</div>
		<div>
		  <button type="submit" (click)="addItemInCart(item)">Add to Cart</button>
		</div>
	  </div>
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<div>  
<!--   <p>
  0
    <input type="range" min="0" max="100" 
          [value]="sliderValue" 
          (input)="sliderValue = $event.target.value" />
  100
  </p>
  <span>{{ sliderValue }}</span>
    <ul>
      <li *ngFor="let data of item | PricePipe:sliderValue">
        {{ data.name }} ({{ data.price }})
      </li>
    </ul> -->
</div> 


