<h2>Create New Company</h2>
<form (ngSubmit)="handleNewCompany(companyForm)" #companyForm="ngForm" >
  <label>name</label>
  <input type="text" name="username" [(ngModel)]="username">
  <input type="text" name="email" [(ngModel)]="email">
  <input type="text" name="role" [(ngModel)]="role">
  <button type="submit">Add</button>
</form>
<h3>Company List</h3>
<ul>
	<li *ngFor="let company of companies">
	     	name: {{ company.username }} <br>
	      email: {{ company.email }} <br>
	      role: {{company.role}}<br>
	    <a [routerLink]="['/admin/company', company._id]">View Details Company</a>
	    <button type="submit">Delete</button>
	</li>
</ul>
<a [routerLink]="['']"> Back to list </a>
<br>
<form>
	
</form>

<!-- <h2>Company Details</h2> -->
<!-- <span>The Id of this company is: <strong>{{ company?._id }}</strong></span> -->
